@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');



.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 40;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import "tailwindcss";
